.rulesButton {
  width: 100px;
  position: absolute;
  bottom: 48px;
  font-weight: 500;
  left: calc(50vw - 50px);
  padding: 8px;
  color: var(--score-bg-and-h1);
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  border: 1px solid var(--score-bg-and-h1);
  background-color: transparent;
  font-size: clamp(14px, 4vw, 20px);
  border-radius: 0.5em;
}
.rulesButton:hover {
  background-color: var(--score-bg-and-h1);
  border: 1px solid var(--dark-text);
  color: var(--dark-text);
}
.stage-container {
  align-self: center;
  justify-self: center;
  margin-inline: auto;
  width: 375px;
}
@media only screen and (min-width: 500px) {
  .rulesButton {
    position: absolute;
    bottom: 10vh;
    left: 70%;
  }
}
